include README.md
include LICENSE
include THIRD_PARTY_NOTICES.md
prune docs
prune examples
prune plugins
prune scripts
prune tests
prune web
exclude CHANGELOG.md
exclude RELEASING.md
exclude k9s-plugin.yaml
global-exclude *.pyc
global-exclude __pycache__
